<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<section id="my-section">
    <img src="<%= data.image_url %>">
    <h3><%= data.title%></h3>
    <h4><%= data.author %></h4>
    <p><%= data.description %></p>
    <p><%= data.isbn %></p>
    <p><%= data.bookshelf %></p>
</section>
