<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <title>Open Shelf - Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<section id="my-section">
    <img src="<%= data.image_url %>">
    <h3><%= data.title%></h3>
    <h4><%= data.author %></h4>
    <p><%= data.description %></p>
    <p><%= data.isbn %></p>
    <p><%= data.bookshelf %></p>
</section>