<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Shelf - Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header class="bg-black"></header>
    <main>
        <h1>Search Results</h1>
        <div>
            <%dataArr.forEach(element => {%>
                <img src="<%=element.image%>">
                <h2><%=element.title%></h2>
                <h5><%=element.author%></h5>
                <p><%=element.description%></p>
            <%})%>
            
            <form action="/books" method="POST">
                <input type="text" name="title" value="<%=val.title%>">
                <input type="text" name="author" value="<%=val.authors%>">
                <input type="text" name="isbn" value="<%=val.isbn%>">
                <input type="text" name="image_url" value="<%=val.smallThumbnail%>">
                <input type="text" name="description" value="<%=val.description%>">
                <button>Select Book</button>
            </form>
        </div>
    </main>
    <footer class="bg-black"></footer>
</body>
</html>