<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Shelf - Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header class="bg-black"><h1>Homepage</h1></header>
    <main id="indexMain">
        <% data.forEach(val => { %>      
          <div class="container">
              <img src="<%= val.image_url %>">
              <h3><%= val.title%></h3>
              <h4><%= val.author %></h4>
              <p><%= val.description %></p>
              <p><%= val.isbn %></p>
              <p><%= val.bookshelf %></p>
              <a href="/books/<%=val.id%>"><button class="view-button"> View Details </button></a>
          </div>
          <% }) %>
      </main>
    <footer class="bg-black"></footer>
</body>
</html>