<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <title>Open Shelf - Book App</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<body>
    <header class="bg-black"><h1>Homepage</h1>
        <nav id="menu">
            <a href="/" class="atHover">Home</a>
            <a href="searches/new" class="atHover">Search the Google Boooks API</a>
        </nav>
        <i class="fas fa-bars atHover" id="barsIcon"></i>
    </header>
    <main id="indexMain">
        <% data.forEach(val => { %>      
          <div class="container">
              <img src="<%= val.image_url %>">
              <h3><%= val.title%></h3>
              <h4><%= val.author %></h4>
              <p><%= val.description %></p>
              <p><%= val.isbn %></p>
              <p><%= val.bookshelf %></p>
              <a href="/books/<%=val.id%>"><button class="view-button"> View Details </button></a>
          </div>
          <% }) %>
      </main>
    <footer class="bg-black"></footer>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        $('#menu').hide();
        $('#barsIcon').on('click', showMenu => {
            $('#menu').toggle();
        })
    </script>
</body>
</html>